body{
    margin: 0px;
    background: linear-gradient(90deg, #fafcc4, #fbc1c3);    
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: opx;
}
.nav-links{
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: auto;
    padding-top: 10px;
    margin: 0px;
    background: #ff7b6b;
}
.nav-links li,button {
    margin-top: 10px;
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
.nav-links li:hover{
    color: white;
}
.nested-first-div{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.nested-first-div h1{
    margin-bottom: 100px;
    font-size: 56px;
    letter-spacing: 4px;
}
.nested-first-div p{
    font-size: 18px;
    margin-bottom: 80px;
}
button{
    background: #ff7f66;
    color:white;
    padding: 15px 70px;
    border: none;
}
.first-div{
    display: flex;
}
.second-div{
    display: flex;
}
.nested-second-div{
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
.img2{
    margin-bottom: 15px;
    height: 250px;
}
.img3{
    height: 250px;   
}
.bottom-half{
    display: flex;
    padding: 150px 100px;
}
.third-div{
    background: #ff7f6b;
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 100px;
    padding: 20px 60px;
}
.nested-third-div{
    display: flex;
}
.nested-third-div p{
    margin-right: 10px;
    cursor: pointer;
}
h1{
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 4px;
}
