body {
  margin: 0;
  background: linear-gradient(90deg, #fafcc4, #fbc1c3);
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #ff7b6b;
  padding: 18px 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1300px;
  list-style: none;
  margin: 0;
  padding: 0 40px; 
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.nav-links li a:hover {
  color: white;
}

.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: 14px;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 32px;
  height: 4px;
  background: white;
}

.first-div {
  display: flex;
  justify-content: space-between;
  padding: 140px 80px 50px;
  flex-wrap: wrap;
}

.nested-first-div {
  max-width: 520px;
}

.nested-first-div h1 {
  font-size: 56px;
  letter-spacing: 4px;
}

.nested-first-div p {
  font-size: 18px;
  margin: 35px 0;
}

button {
  background: #ff7f66;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
}

.img1 {
  width: 50%;
  max-width: 700px;
  margin: 0;        
  padding: 0;
  border-radius: 0; 
}

.bottom-half {
  display: flex;
  padding: 120px 80px;
  gap: 50px;
  flex-wrap: wrap;
}

.second-div {
  display: flex;
  gap: 25px;
}
.nested-second-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img2,
.img3 {
  width: 270px;
  height: 250px;
  object-fit: cover;
  border-radius: 0;
}

.img4 {
  width: 300px;
  height: 515px;
  object-fit: cover;
  border-radius: 0;
}

.third-div {
  background: #ff7f6b;
  padding: 30px 60px;
  height: fit-content;
  border-radius: 0; 
}

.nested-third-div {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}


@media (max-width: 992px) {
  .first-div {
    flex-direction: column;
    text-align: center;
  }

  .img1 {
    width: 100%;
  }

  .bottom-half {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #ff7b6b;
    padding: 20px 0;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .first-div {
    padding: 120px 20px;
  }

  .img1 {
    width: 100%;
  }

  .img2,
  .img3,
  .img4 {
    width: 100%;
    height: auto;
  }

  .second-div {
    flex-direction: column;
    width: 100%;
  }

  .third-div {
    width: 100%;
  }
}
